    html,body{ 
        height:100%; 
        margin:0; 
    }

    body{ 
        display:flex; 
        align-items:flex-start; 
        justify-content:center; 
        background:#f4f5f7; 
        font-family:Arial, Helvetica, sans-serif; 
        padding:18px 
    }

    .frame{
        width:var(--W);
        height:var(--H);
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        border:1px solid #222;
        gap:0;
        position:relative;
        box-sizing:border-box;
    }

    .blk{
        border:1px solid #222;
        box-sizing:border-box;
        position:relative;
        display:flex;
        align-items:center;
        justify-content:center;
        font-weight:700;
        color:#222;
        overflow:hidden;
    }

    .num{ 
        position:absolute; 
        font-weight:600; 
        font-size: 25px;
    }


    .num.center { left:50%; top:50%; transform:translate(-50%,-50%); }
    .num.left { left:6px; top:50%; transform:translateY(-50%); }
    .num.right { right:6px; top:50%; transform:translateY(-50%); }

    .tag{
        position:absolute;
        background:#fff;
        border:2px solid #000000ff;
        box-shadow:0 1px 2px rgba(0,0,0,0.08);
        display:flex; align-items:center; 
        justify-content:flex-end; 
        padding-right:10px;      
        font-weight:600;
        font-size: 25px;
    }

    /* CSS для lab5 */
    #work {
        display: none; 
        position: fixed;
        top: 10%; left: 10%; 
        width: 80%; 
        height: 80%;
        background-color: #f0f0f0;
        border: 2px dashed black; 
        z-index: 1000;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
    }

    #controls {
        width: 100%;
        height: 50px; 
        position: absolute;
        top: 0; left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 0 10px;
        box-sizing: border-box;
    }

    #anim {
        position: absolute;
        bottom: 0; 
        left: 5px; 
        width: calc(100% - 10px);
        height: calc(100% - 50px); 
        border: 5px solid blue;
        background: white; 
        box-sizing: border-box;
        overflow: hidden; 
        background-color: white;
        background-image: url('texture.png');
        background-repeat: repeat; 
    }

    button {
        padding: 5px 15px;
        font-size: 16px;
        cursor: pointer;
    }

    #logTable {
        margin-top: 20px;
        width: 100%;
        max-height: 400px;
        overflow-y: auto;
        font-size: 14px;
        background: white;
        border: 1px solid #ccc;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #999;
        padding: 4px;
        text-align: left;
    }
    th {
        background: #eee;
        position: sticky;
        top: 0;
    }
    .lost {
        color: red;
        font-weight: bold;
    }